<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <title>视频页</title>
    <script src="js/zepto.min.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <style>
        @font-face {font-family: "iconfont";
            src: url('fonts/iconfont.eot?t=1491441900886'); /* IE9*/
            src: url('fonts/iconfont.eot?t=1491441900886#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('fonts/iconfont.woff?t=1491441900886') format('woff'), /* chrome, firefox */
            url('fonts/iconfont.ttf?t=1491441900886') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
            url('fonts/iconfont.svg?t=1491441900886#iconfont') format('svg'); /* iOS 4.1- */
        }

        .iconfont {
            font-family:"iconfont" !important;
            font-style:normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .icon-tubiao20:before { content: "\e6f5"; }

        .icon-jishi:before { content: "\e645"; }

        .icon-appshusandian:before { content: "\e604"; }

        *{
            padding:0;
            margin:0;
        }
        body,div,ul,li,p{
            list-style: none;
            font-family: "苹方", "Microsoft YaHei", "微软雅黑", arial, tahoma, \5b8b\4f53, sans-serif;
        }
        body{
            padding-top:13.9rem;
        }
        a{
            text-decoration: none;
        }
        a,img,button,input,textarea,li{-webkit-tap-highlight-color:rgba(255,255,255,0);}
        /*头部*/
        .head{
            box-sizing: border-box;
            z-index:9999;
            position:fixed;
            left:0;
            top:0;
            width:100%;
            height:2rem;
            background: #393a3f;
            color:white;
            line-height: 2rem;
            padding:0 0.6rem;
            overflow: hidden;
        }
        .head span{
            font-size:0.75rem;
            display: inline-block;
            padding-left:0.67rem;
        }
        .head .iconfont{;
            font-size: 0.75rem;
        }
        .head .icon-tubiao20{
            border-right:1px solid #2e2e32;
            padding-right:0.67rem;
        }
        .icon-appshusandian{
            float:right;
        }
        /*********APP下载*********/
        div.appdown{
            box-sizing: border-box;
            padding:0.56rem 0.6rem 0rem;
            overflow: hidden;
            z-index:9999;
            position:fixed;
            left:0;
            top:0rem;
            width:100%;
            height:3.5rem;
            background: #fff;
        }
        div.appdown div.appicon{
            width:3.1rem;
            float: left;
            color:#393a3f;
        }
        div.appdown div.appicon img{
            width:2.4rem;
            height:2.3rem;
        }
        div.appdown div:nth-child(2){
            width: 8rem;
            padding:0.28rem 0;
            float: left;
            line-height: 1rem;
        }
        div.appdown div:nth-child(2) h4{
            font-size: 0.58rem;
            margin:0;
        }
        div.appdown div:nth-child(2) p{
            font-size: 0.46rem;
        }
        div.appdown button{
            float:right;
            font-size: 0.58rem;
            color:#fff;
            background: #19ccc3;
            width: 2.4rem;
            height:1.1rem;
            border-radius: 0.25rem;
            border:none;
            outline:none;
            margin:0.63rem 0rem;
        }
        /************视频**********/
        video{
            width:100%;
            height:8.9rem;
            z-index:9999;
            position:fixed;
            left:0;
            top:3.5rem;
        }
        /************更多视频***********/
        section ul.menu{
            overflow: hidden;
            height:1.5rem;
            position:fixed;
            left:0;
            top:12.4rem;
            width:100%;
            background: #fff;
            z-index: 10;
        }
        section ul.menu li{
            font-size: 0.54rem;
            float: left;
            color:#393a3f;
            box-sizing: border-box;
            width:50%;
            height:1.5rem;
            line-height:1.5rem;
            text-align: center;
            border-bottom: 2px solid #ddd;
        }
        .menu li.tabFocus{
            color: #19ccc3;
            border-bottom:2px solid #19ccc3;
        }
        li.view_tips{
            height:3.6rem;
            border-bottom:1px solid #ddd;
            box-sizing: border-box;
            width:100%;
            padding:0.5rem 0.63rem;
        }
        li.view_tips a{
            line-height: 0.8rem;
        }
        li.view_tips a h3{
            font-weight:normal;
            font-size:0.63rem;
            color:#393a3f;
        }
        li.view_tips a span{
            font-weight:normal;
            font-size:0.5rem;
            color:#888;
        }
        li.view_tips a span.time{
            margin-left:1.3rem;
        }
        i.icon-jishi{
            font-size: 0.5rem;
            margin-right:0.14rem;
        }
        /***************评论**************/
        li.tab_content{
            height:3.75rem;
            padding:0.56rem;
            padding-right: 0rem;
            float:left;
            box-sizing: border-box;
            width:100%;
        }
        li.tab_content div.headImg{
            float:left;
            width:15%;
        }
        div.headImg img{
            border-radius: 50%;
            width:1.67rem;
            height:1.67rem;
        }
        div.comment{
            float:left;
            width:82%;
            font-size: 0.46rem;
            padding-bottom: 0.5rem;
            border-bottom: 3px solid #e3dcdf;
        }
        div.comment div:nth-child(1){
            margin-bottom: 0.5rem;
        }
        div.comment a{
            color:#fe6c29;
        }
        div.comment div:nth-child(2){
            color:#999;
            margin-bottom: 0.72rem;
        }
        div.send{
            width:100%;
            box-sizing: border-box;
            height:2.2rem;
            line-height: 2rem;
            background: #f4f4f4;
            position: fixed;
            bottom: 0rem;
            padding:0 1rem;
            overflow: hidden;
            padding-top: 0.4rem;
        }
        div.send input{
            width:70%;
            height:1.2rem;
            border-radius: 1rem;
            font-size: 0.54rem;
            outline: none;
            border:3px solid #e5dee1;
            padding-left:0.42rem;
            padding-right:0.5rem;
            float: left;
        }
        div.send button{
            height:1.2rem;
            font-size: 0.54rem;
            padding:0 0.42rem;
            float: right;
            box-shadow: 0px 5px 10px #888;
        }
        /*滑动*/
        div.swiper-container {
            margin:0 auto;
            position:relative;
            overflow:hidden;
            backface-visibility:hidden;
            z-index:1;
        }
        ul.swiper-wrapper {
            position:relative;
            width:100%;
            transition-property:transform, left, top;
            transition-duration:0s;
            transform:translate3d(0px,0,0);
            transition-timing-function:ease;

            box-sizing: content-box;
        }
        li.swiper-slide {
            float: left;
            box-sizing: content-box;
        }
    </style>
</head>
<body>
<!--
    <div class="head">
        <i class="iconfont icon-tubiao20"></i>
        <span>柒和系统</span>
        <i class="iconfont icon-appshusandian"></i>
    </div>-->
    <div class="appdown">
        <div class="appicon"><img src="img/xunlianying.png" alt=""></div>
        <div>
            <h4>知识 手机APP</h4>
            <p>让知识改变命运</p>
        </div>
        <button>下载</button>
    </div>
    <video poster="img/video.png">
        <source src="" type=""></source>
    </video>

    <section>
        <ul class="menu tabs" id="menu">
            <li class="tabFocus"  hidefocus="true">更多视频</li>
            <li hidefocus="true">评论</li>
        </ul>
        <div class="swiper-container">
            <ul class="details swiper-wrapper" id="content">
                <li style="display: block" class="swiper-slide">
                    <ul class="content-slide">
                        <li class="view_tips">
                            <a href="">
                                <h3>幸福家长宝典</h3>
                                <span>主讲：王占伟</span>
                                <span class="time"><i class="iconfont icon-jishi"></i><span>45分钟</span></span>
                            </a>
                        </li>
                        <li class="view_tips">
                            <a href="">
                                <h3>幸福家长宝典</h3>
                                <span>主讲：王占伟</span>
                                <span class="time"><i class="iconfont icon-jishi"></i><span>45分钟</span></span>
                            </a>
                        </li>
                        <li class="view_tips">
                            <a href="">
                                <h3>幸福家长宝典</h3>
                                <span>主讲：王占伟</span>
                                <span class="time"><i class="iconfont icon-jishi"></i><span>45分钟</span></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li style="display: block" class="swiper-slide">
                    <ul id="comment_content" class="content-slide">
                        <li class="tab_content">
                            <div class="headImg">
                                <img src="./img/photo.png" alt="">
                            </div>
                            <div class="comment">
                                <div><a href="">admin</a></div>
                                <div>4月5日</div>
                                <p>视频很精彩</p>
                            </div>
                        </li>
                        <li class="tab_content">
                            <div class="headImg">
                                <img src="img/photo.png" alt="">
                            </div>
                            <div class="comment">
                                <div><a href="">admin</a></div>
                                <div>4月5日</div>
                                <p>视频很精彩</p>
                            </div>
                        </li>
                        <li class="tab_content">
                            <div class="headImg">
                                <img src="img/photo.png" alt="">
                            </div>
                            <div class="comment">
                                <div><a href="">admin</a></div>
                                <div>4月5日</div>
                                <p>视频很精彩</p>
                            </div>
                        </li>
                    </ul>
                    <div class="send content-slide" id="send">
                        <form action="" onsubmit="">
                            <input type="text" placeholder="我来说两句..." name="comment">
                            <button type="button" id="btn">发送</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <!--
        <ul class="details" id="content">
            <li style="display: block">
                <ul>
                    <li class="view_tips">
                        <a href="">
                            <h3>幸福家长宝典</h3>
                            <span>主讲：王占伟</span>
                            <span class="time"><i class="iconfont icon-jishi"></i><span>45分钟</span></span>
                        </a>
                    </li>
                    <li class="view_tips">
                        <a href="">
                            <h3>幸福家长宝典</h3>
                            <span>主讲：王占伟</span>
                            <span class="time"><i class="iconfont icon-jishi"></i><span>45分钟</span></span>
                        </a>
                    </li>
                    <li class="view_tips">
                        <a href="">
                            <h3>幸福家长宝典</h3>
                            <span>主讲：王占伟</span>
                            <span class="time"><i class="iconfont icon-jishi"></i><span>45分钟</span></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li style="display: none">
                <ul id="comment_content">
                    <li class="tab_content">
                        <div class="headImg">
                            <img src="./img/photo.png" alt="">
                        </div>
                        <div class="comment">
                            <div><a href="">admin</a></div>
                            <div>4月5日</div>
                            <p>视频很精彩</p>
                        </div>
                    </li>
                    <li class="tab_content">
                        <div class="headImg">
                            <img src="img/photo.png" alt="">
                        </div>
                        <div class="comment">
                            <div><a href="">admin</a></div>
                            <div>4月5日</div>
                            <p>视频很精彩</p>
                        </div>
                    </li>
                    <li class="tab_content">
                        <div class="headImg">
                            <img src="img/photo.png" alt="">
                        </div>
                        <div class="comment">
                            <div><a href="">admin</a></div>
                            <div>4月5日</div>
                            <p>视频很精彩</p>
                        </div>
                    </li>
                </ul>
                <div class="send" id="send">
                    <form action="" onsubmit="">
                        <input type="text" placeholder="我来说两句..." name="comment">
                        <button type="button" id="btn">发送</button>
                    </form>
                </div>
            </li>
        </ul>-->
    </section>
    <script src="js/qihe.js"></script>

    <script>
        var send=document.getElementById('send');
//        var backHome=document.querySelector('.icon-tubiao20');
        send.onclick=function(){
            window.location.href="/wangzhanwei/comment";
            window.history.back(-1);
        }

    </script>
</body>
</html>
