<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考试申请</title>
    <script src="./js/common.js"></script>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/style.css">
    <style>

    </style>
</head>
<body>
<div class="header grade_head">
    <div class="header_project ">
        <div class="header_left">
            <div class="back"><img src="./img/back_03.png"> </div>
        </div>
        <div class="header_content grade_bao">
            <div> 大赛报名</div>
        </div>
    </div>
</div>
<div class="apply_body">
    <div class="apply_content">
       <div>
           <label>姓名</label>
           <input type="text" name="" placeholder="请填写您的姓名">
       </div>
        <div>
            <label>地区</label>
            <input type="text" name="" placeholder="请填写您的地址">
        </div>
        <div>
            <label>学校</label>
            <input type="text" name="" placeholder="请填写您的学校">
        </div>
        <div>
            <label>年级</label>
            <input type="text" name="" placeholder="请填写您的年级">
        </div>

     </div>
    <button class="green_btn">提交并缴费</button>
</div>



</body>
</html>
