<!DOCTYPE html>
<html lang="en">
<head >
	<meta charset="UTF-8">
	<title>Title</title>
	<meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width" name="viewport">
	<link rel="stylesheet" href="./book-css/public.css">
	<link rel="stylesheet" href="./book-css/style.css">
	<script src="./book-js/zepto.min.js"></script>
	<script src="./book-js/book.js"></script>
	<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=DLDBZ-OK6RW-3FSRD-RMUUR-43DVV-TIBNA&libraries=convertor"></script>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="/wxapi.js"></script>
	<script>

//		var geocoder,map,marker = null;
//		var init = function() {
//			var center = new qq.maps.LatLng(39.916527,116.597128);
//			map = new qq.maps.Map(document.getElementById('container'),{
//				center: center,
//				zoom: 10
//			});
//			//创建marker
//			var marker = new qq.maps.Marker({
//				position: center,
//				map: map
//			});
//			var label = new qq.maps.Label({
//				position: center,
//				map: map,
//				content:'我的位置'
//			});
//
//
//
//			//调用地址解析类
//			geocoder = new qq.maps.Geocoder({
//				complete : function(result){
////					console.log(result)
//					map.setCenter(result.detail.location);
////					var center = new qq.maps.LatLng(result.detail.location.lat,result.detail.location.lng);
//					var marker = new qq.maps.Marker({
//						map:map,
//						position: result.detail.location
//					});
//					var label = new qq.maps.Label({
//						position: result.detail.location,
//						map: map,
//						content:result.detail.address
//					});
//				}
//			});
//		}
//
//
//		function codeAddress() {
//			var address = document.getElementById("address").value;
//			//通过getLocation();方法获取位置信息值
//			geocoder.getLocation(address);
//		}
	</script>
</head>
<body onload="init()" style="height: 100%">
<div id="openopen" style="display: none"><%= openid %></div>
<div class="map">
	<input id="address" class="search" type="textbox" value="中国,北京,大兴区" placeholder="请输入你需要借阅的书名">
	<button class="map_but" onclick="codeAddress()">search</button>
</div>
<div id="container"></div>
<script>
	window.onload=function(){
		var id = document.getElementById('openopen');
		var openid = id.innerText;
		console.log('openid-->',openid);

		window.wxapi.config();
	}


	wx.ready(function(){

		wx.checkJsApi({
			jsApiList: [
				'getLocation'
			],
			success: function (res) {
				console.log(res)
				if (res.checkResult.getLocation == false) {
					alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
					return;
				}else{
					wx.getLocation({
						success: function (res) {
							console.log(res)
//							alert(JSON.stringify(res))
							var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
							var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
							var speed = res.speed; // 速度，以米/每秒计
							var accuracy = res.accuracy; // 位置精度


							var center = new qq.maps.LatLng(latitude,longitude);
							map = new qq.maps.Map(document.getElementById('container'),{
								center: center,
								zoom: 10
							});

							//创建marker
							var marker = new qq.maps.Marker({
								position: center,
								map: map
							});
							var label = new qq.maps.Label({
								position: center,
								map: map,
								content:'我的位置'
							});




							var infoWin = new qq.maps.InfoWindow({
								map: map
							});
							var latlngs = [
								new qq.maps.LatLng(39.71474,116.37333),
								new qq.maps.LatLng(39.86447,116.39336),
								new qq.maps.LatLng(39.90884,116.41306)
							];

							for(var i = 0;i < latlngs.length; i++) {
								(function(n){
									var marker = new qq.maps.Marker({
										position: latlngs[n],
										map: map
									});

                                    //经纬度解析为地理位置
									geocoder.getAddress(latlngs[n]);
									geocoder = new qq.maps.Geocoder({
										complete : function(result){
										var	add=result.detail.address;
											map.setCenter(result.detail.location);

											var marker = new qq.maps.Marker({
												map:map,
												position: result.detail.location
											});

											var label = new qq.maps.Label({
												position: result.detail.location,
												map: map,
												content:result.detail.address
											});
											console.log(n)
											//添加标记与点击事件
											qq.maps.event.addListener(marker, 'click', function() {
												infoWin.open();
												infoWin.setContent('<div style="text-align:center;white-space:'+
													'nowrap;margin:0px;font-size: 12px;">这是第 ' +
													n + ' 个书柜</div>');
												infoWin.setPosition(latlngs[n]);

												function map(let,lng,address){
													wx.openLocation({
														latitude: let, // 纬度，浮点数，范围为90 ~ -90
														longitude: lng, // 经度，浮点数，范围为180 ~ -180。
														name: '书柜位置：', // 位置名
														address:address, // 地址详情说明
														scale: 12, // 地图缩放级别,整形值,范围从1~28。默认为最大
														infoUrl: '' // 在查看位置界面底部显示的超链接,可点击跳转
													});

												}


												map(latlngs[n].lat,latlngs[n].lng,add)


											});


										}
									});





								})(i);
							}





                             function click(){
								 //添加到提示窗
								 var info = new qq.maps.InfoWindow({
									 map: map
								 });
								 //获取标记的点击事件
								 qq.maps.event.addListener(marker, 'click', function() {
									 info.open();
									 info.setContent('<div style="text-align:center;white-space:nowrap;margin:3px;">书柜位置</div>');
									 info.setPosition(center);

									 function map(){
										 wx.openLocation({
											 latitude: '39.7568711', // 纬度，浮点数，范围为90 ~ -90
											 longitude: '116.663221', // 经度，浮点数，范围为180 ~ -180。
											 name: '高米店', // 位置名
											 address: '北京市大兴区高米店北地铁站', // 地址详情说明
											 scale: 12, // 地图缩放级别,整形值,范围从1~28。默认为最大
											 infoUrl: '' // 在查看位置界面底部显示的超链接,可点击跳转
										 });

									 }
									 setTimeout(function(){
										 map()
									 },1000)

								 });
							 }



//							var map_book=[{let:'39.706527',lon:'116.397128'},{let:'39.716527',lon:'116.387128'},{let:'39.726527',lon:'116.387128'},{let:'39.706527',lon:'116.366128'},{let:'39.736527',lon:'116.572128'}]
//							var log=[];
//							for(var i=0;map_book.length;i++){
//								log[i]=new qq.maps.LatLng(map_book[i].let , map_book[i].lon);
//								var marker = new qq.maps.Marker({
//									position: log[i],
//									map: map
//								});
//
//							}


						},
						cancel: function (res) {
							alert('用户拒绝授权获取地理位置');
						}
					});

				}
			}
		});

	});


	var geocoder,map,marker = null;
	var init = function() {
//		var center = new qq.maps.LatLng(39.916527,116.597128);
//		map = new qq.maps.Map(document.getElementById('container'),{
//			center: center,
//			zoom: 10
//		});
//		//创建marker
//		var marker = new qq.maps.Marker({
//			position: center,
//			map: map
//		});
//		var label = new qq.maps.Label({
//			position: center,
//			map: map,
//			content:'我的位置'
//
//		});

		//							qq.maps.event.addListener(map, 'click', function(event) {
//								alert('您点击的位置为: [' + event.latLng.getLat() + ', ' +
//									event.latLng.getLng() + ']');
//							});


//		var info = new qq.maps.InfoWindow({map: map});
//		geocoder = new qq.maps.Geocoder({
//			complete : function(result){
//				map.setCenter(result.detail.location);
//				var marker = new qq.maps.Marker({
//					map:map,
//					position: result.detail.location
//				});
//				//添加监听事件 当标记被点击了  设置图层
//				qq.maps.event.addListener(marker, 'click', function() {
//					console.log('111')
//					info.open();
//					info.setContent('<div style="text-align:center;white-space:nowrap;margin:0px;font-size: 12px" >'+
//						result.detail.address+'</div>');
//					info.setPosition(result.detail.location);
//					function demo(){
//						console.log('000')
//					}
//					demo()
//				});
//
//			}
//		});




//		//添加到提示窗
//		var info = new qq.maps.InfoWindow({
//			map: map
//		});
//		//获取标记的点击事件
//		qq.maps.event.addListener(marker, 'click', function() {
//			info.open();
//			info.setContent('<div style="text-align:center;white-space:nowrap;margin:3px;" onclick="map()" >北京市大兴区星光影视园</div>');
//			info.setPosition(center);
//		});




//		var infoWin = new qq.maps.InfoWindow({
//			map: map
//		});
//		var latlngs = [
//			new qq.maps.LatLng(39.71474,116.37333),
//			new qq.maps.LatLng(39.86447,116.39336),
//			new qq.maps.LatLng(39.90884,116.41306)
//		];
//
//		for(var i = 0;i < latlngs.length; i++) {
//			(function(n){
//				var marker = new qq.maps.Marker({
//					position: latlngs[n],
//					map: map
//				});
//				qq.maps.event.addListener(marker, 'click', function() {
//					infoWin.open();
//					infoWin.setContent('<div style="text-align:center;white-space:'+
//						'nowrap;margin:10px;">这是第 ' +
//						n + ' 个书柜</div>');
//					infoWin.setPosition(latlngs[n]);
//					alert(latlngs[n])
//					console.log(latlngs[n])
//				});
//			})(i);
//		}
//
//
//		var map_book=[{let:'39.706527',lon:'116.397128'},{let:'39.716527',lon:'116.387128'},{let:'39.726527',lon:'116.387128'},{let:'39.706527',lon:'116.366128'},{let:'39.736527',lon:'116.572128'}]
//		var log=[];
//		for(var i=0;map_book.length;i++){
//			log[i]=new qq.maps.LatLng(map_book[i].let , map_book[i].lon);
//			var marker = new qq.maps.Marker({
//				position: log[i],
//				map: map
//			});
//		}

		//调用地址解析类
		geocoder = new qq.maps.Geocoder({
			complete : function(result){
//					console.log(result)
				map.setCenter(result.detail.location);
//					var center = new qq.maps.LatLng(result.detail.location.lat,result.detail.location.lng);
				var marker = new qq.maps.Marker({
					map:map,
					position: result.detail.location
				});
				var label = new qq.maps.Label({
					position: result.detail.location,
					map: map,
					content:result.detail.address
				});
			}
		});
	}


	function codeAddress() {
		var address = document.getElementById("address").value;
		//通过getLocation();方法获取位置信息值
		geocoder.getLocation(address);
	}



</script>
</body>
</html>