<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1" />
	<title>启悦书柜</title>
	<link rel="stylesheet" href="wx_static/css/weui.css"/>
	<link rel="stylesheet" href="wx_static/css/weui2.css"/>
	<link rel="stylesheet" href="wx_static/css/style1.css"/>
	<script charset="utf-8" src="wx_static/js/zepto.min.js"></script>
	<script charset="utf-8" src="wx_static/js/book.js"></script>
</head>
<body class="myde">
<div class="balance_header">
	<div class="balance_header-img">
		<img class="log1" src="wx_static/img/qiu3.png">
		<span class="balance">押金余额</span><span class="num">98</span><span class="time">2017年4月21日</span>
	</div>
</div>
<ul class="balance_center">
	<li class="balance_content-list ">
		<p class="balance_content-list-title line">《小红帽》</p>
		<p class="balance_content-list-detail clear"><span class="balance_content-list-time">2017-04-24</span><span class="balance_content-list-money">扣除押金（-100）</span></p>
	</li>
	<li class="balance_content-list ">
		<p class="balance_content-list-title line">《小红帽》</p>
		<p class="balance_content-list-detail clear"><span class="balance_content-list-time">2017-04-24</span><span class="balance_content-list-money">扣除押金（-100）</span></p>
	</li>

</ul>
</body>
</html>