<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1" />
	<title>启悦书柜</title>
	<!--<link rel="stylesheet" href="css/weui.css"/>-->
	<!--<link rel="stylesheet" href="css/weui2.css"/>-->
	<link rel="stylesheet" href="wx_static/css/style1.css"/>
	<script charset="utf-8" src="wx_static/js/zepto.min.js"></script>
	<script charset="utf-8" src="wx_static/js/book.js"></script>
</head>
<body>
<div class="user_header">
	<div class="user_head-book">借书</div>
	<div class="user_header-user"><span class="user_header-span1">用户名</span><span class="user_header-span2">15210869636</span></div>
</div>
<!--<div class="user_main">-->
	<!--<button class="user_main-but">借书</button>-->
<!--</div>-->
<div class="user_conter">
	<div class="user_conter-li clear"><img class="user_conter-li-img" src="wx_static/img/user1.png" alt=""/><a class="user_conter-li-a" href="#" >我的押金</a></div>
	<div class="user_conter-li clear"><img class="user_conter-li-img" src="wx_static/img/user2.png" alt=""/><a class="user_conter-li-a" href="#" >历史记录</a></div>
	<div class="user_conter-li clear"><img class="user_conter-li-img" src="wx_static/img/user4.png" alt=""/><a class="user_conter-li-a" href="#" >消费记录</a></div>
	<div class="user_conter-li clear"><img class="user_conter-li-img" src="wx_static/img/user3.png" alt=""/><a class="user_conter-li-a" href="#" >设置</a></div>
</div>
</body>
</html>