<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1" />
	<title>启悦书柜</title>
	<link rel="stylesheet" href="wx_static/css/public.css">
	<link rel="stylesheet" href="wx_static/css/weui.css"/>
	<link rel="stylesheet" href="wx_static/css/weui2.css"/>
	<link rel="stylesheet" href="wx_static/css/style1.css"/>
	<script charset="utf-8" src="wx_static/js/zepto.min.js"></script>
	<script charset="utf-8" src="wx_static/js/book.js"></script>
</head>
<body class="background">
<div class="user_header " style=" text-align: center;"><span class="mobile_title">启阅</span></div>
<div class="mobile_main">
	<input type="text" placeholder="请填写手机号" class="mobile_mobile"/>
	<input type="text" placeholder="请填写验证码" class="mobile_code"/>
	<button class="mobile_time">验证码（56秒）</button>
	<button class="mobile_button">登录</button>
</div>
</body>
</html>