<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1" />
	<title>启悦书柜</title>
	<link rel="stylesheet" href="wx_static/css/public.css">
	<link rel="stylesheet" href="wx_static/css/weui.css"/>
	<link rel="stylesheet" href="wx_static/css/weui2.css"/>
	<link rel="stylesheet" href="wx_static/css/style1.css"/>
	<script charset="utf-8" src="wx_static/js/zepto.min.js"></script>
	<script charset="utf-8" src="wx_static/js/book.js"></script>
</head>
<body style="background-color: #eeeeee">
<div class="recording">历史记录</div>
<ul class="recording_main">
	<li class="recording_main-li">
		<p class="recording_main-li-p1">2017-04-26</p>
		<p class="recording_main-li-p2 clear">
			<span class="recording_main-p-span1">《小狐狸》</span>
			<span class="recording_main-p-span2">未还</span>
			<span class="recording_main-p-span3" style="float: right">借阅1天</span>
		</p>
	</li>
	<li class="recording_main-li">
		<p class="recording_main-li-p1">2017-04-26</p>
		<p class="recording_main-li-p2 clear">
			<span class="recording_main-p-span1">《小狐狸》</span>
			<span class="recording_main-p-span2">未还</span>
			<span class="recording_main-p-span3" style="float:right">借阅1天</span>
		</p>
	</li>
</ul>

</body>
</html>